/*global Styles*/
@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



html
{
background: #383987; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #383987 0%, #090a59 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#383987), color-stop(100%,#090a59)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #383987 0%,#090a59 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #383987 0%,#090a59 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #383987 0%,#090a59 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #383987 0%,#090a59 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383987', endColorstr='#090a59',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
font-family: DroidSansRegular, arial, ArialMT, sans-serif;
min-height: 100%;
}
html,body 
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #FFFFFF;
    overflow: hidden;
}
.nav
{
    -webkit-border-radius: 0 0.5em 0 0;
    border-radius: 0 0.5em 0 0; 
    clear: both;
    background-color: #00676c;
    width: 90%;
    overflow: hidden;
    height: auto;
    border: 0.2em #009ba8 solid;
    border-left: 0;
    border-bottom: 0;
    padding-left: 5%;
    /*-webkit-box-shadow: 0px 0px 0.5em 0px #000000;
    box-shadow: 0px 0px 0.5em 0px #000000;*/
    font-size: 0.8em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999999999999999999999999999999999999999999999999999999;
  
    background-position: top right;
}
.landscape .nav
{
     padding-left: 1%;
     width: 87%;   
}
.right_edge_rounded
{
    -webkit-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0;   
    border-bottom: 0.2em #009ba8 solid;
}
.nav ul
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li
{
    margin: 0;
    padding: 0;   
    float: left;
    display: block; 
    font-size: 1em;
    text-align:center;
}
.nav ul li a
{
    width: 100%;
 text-shadow: 0px 0px 0.2em #000000;
 /* filter: dropshadow(color=#000000, offx=0, offy=0); */
 color: #FFFFFF;
 text-decoration: none;
 display: block;
 overflow: hidden;
     cursor: pointer;
}
.nav ul li .icon
{
 width:100%;
 float:left;   
 overflow: hidden;
}
.nav ul li .label
{
    padding-top: 0.5em;
 width:100%;
 float:left;   
 clear:left;
}
.nav ul li a img
{
/*max-height:100%;
max-width: 100%;*/
border: 0;
}
.nav ul li .label
{
 /*margin-bottom: 0.5em;*/   
}

.landscape .nav ul li
{
        width:  16.5%;
}
.portrait .nav ul li
{
     width: 32.5%;
}


/*Homepage*/

.header
{
 overflow: hidden;   
}
#nhs_logo
{
    float: right;
}
.landscape #nhs_logo
{
    width: 30%;
    padding-right: 12%;
}
.portrait #nhs_logo
{
    width: 60%;
    padding-right:5%;
}
#nhs_logo img
{
 width:100%;   
}
#strapline
{
    line-height: 1.3em;
    float: left;
    -webkit-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0; 
    padding-left:5%;  
    background-color: #c4c4d8;
    border: 0.2em #7d789e solid;
    border-left: 0;
    font-size:1.5em;
    font-family: DroidSansBold;
    color: #2C256B;
   /* -webkit-box-shadow: 0px 0px 0.5em 0px #000000;
    box-shadow: 0px 0px 0.5em 0px #000000; */
}
.landscape #strapline
{
    width: 40%;
      font-size: 1.20em;
}
.portrait #strapline
{
    
  width: 90%; 
  margin: 0.5em 0; 

}
#nav_footer
{
 display:block;
 clear: both;
 float:left;   
width:100%;
}

/* content pages */
#tabgroup
{
    
    background-color: #736c95;
    border: 0.2em #736c95 solid;
    width: 90%; 
    position: fixed;
    bottom: 0;
    border-left: 0;
    border-bottom: 0;
    display: none;
    z-index: 9999999;
    overflow: hidden;
    margin-bottom: 0;
    background-position: top right;
    background-repeat: no-repeat;
}
.landscape #tabgroup
{
    right: 0;
 -webkit-border-radius:0.5em 0 0 0 ;
border-radius:0.5em 0 0 0; 
border-right: 0;
border-left: 0.2em #736c95 solid;
      background-image: url(../images/tabgroup/landscape/1280.png); 
          background-position: top left;
}

.portrait #tabgroup
{
        padding-left: 5%;
     float: left;
     -webkit-border-radius: 0 0.5em 0 0;
     border-radius: 0 0.5em 0 0; 
     background-image: url(../images/tabgroup/1280.png);
}

.portrait #tabgroup div
{
    float:left;
    width: 33%;
    text-align: center; 
    display: block;
    overflow: hidden;
    cursor: pointer;
}
#tabgroup div, #tabgroup div a
{
 display: block;
 overflow: hidden;   
}
.landscape #tabgroup img
{
    width: 100%;
}
.portrait #tabgroup img
{
 height: 100%;   
}
#nav_toggle
{
        cursor: pointer;
    position:static;
    top:0;
    left: 0;
    right: 0;
    float: left;
    width: 90%; 
    border-left: 0;
    border-top: 0; 
    display: none;
    z-index: 9999999;
    padding: 5%;
    margin-left:-5%;
    font-family: DroidSansBold;
}
.fixed_nav_toggle
{
/*
 border: 0.2em #009ba8 solid !important;
    border-left: 0 !important;
    border-top: 0 !important;
    -webkit-border-radius: 0 0 0.5em 0;
     border-radius: 0 0 0.5em 0;   
     padding-left:5%;
     -webkit-box-shadow: 0px 0px 0.5em 0px #000000;
    box-shadow: 0px 0px 0.5em 0px #000000;
    position: fixed !important;
    */
}

.map_wrap
{
    background-color: #FFFFFF;
    display: none;
    height: 300px;
    margin-left: 5%;
    padding: 3%;
    width: 84%;
    -webkit-box-shadow: 0px 0px 0.5em 0px #000000;
    box-shadow: 0px 0px 0.5em 0px #000000; 
    color: #000000;
}
.landscape .map_wrap{
 margin-left:1%;
}
.content_wrap
{
 padding-left:5%;
 padding-right: 5%;   
 line-height: 1.35em;
}
.landscape .content_wrap
{
   padding-left:1%;  
}
.h1
{
    font-size: 1.25em;
    font-family: DroidSansBold;
}
.h2
{
    font-family: DroidSansBold;
}
.expander
{
 display: none;   
}
.list-ul
{
 margin: 0;
 padding: 0;
 list-style: none;
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
}

.list-ul li
{
 background-image: url(../images/list-bg-odd.png);
 background-repeat: repeat;
 margin-bottom: 1em;
 padding: 2%;  
}
.list-ul li:nth-child(2n+2)
{
 background-image: url(../images/list-bg-even.png);
}
.list-ul ul{
display: none;
margin: 0;
padding: 5%;
padding-bottom: 0;
padding-top: 0;
}

.list-ul ul li{
margin: 0;
padding: 0%;
list-style: none;
background-image: none !important;
overflow: hidden;
margin-bottom: 1em;
}
.listtoggle
{
       font-size: 1.05em;
    font-family: DroidSansBold; 
    padding: 2%;
}
.detail_title
{
       font-family: DroidSansBold;  
}
.list-ul ul li label
{
    display: block;
    float:left;
    margin-bottom: 0.5em;
    width:100%;
}
.details_info
{
      display: block;
    float:left;
    margin-left: 10%;     
}
.triline
{
width:95%;   
height: 0.2em;
overflow: hidden;
margin:0;
margin-bottom: 1em;
}
.blueline
{
float:left;
width: 20%;
background-color: #2B307C;
height:100%;
}
.greenline
{
float:left;
width: 60%;
background-color: #09A3B2;
height:100%;
}
.yellowline
{
float:left;
height:100%;
width: 20%;
background-color: #D8D700;
}
.nav_spacer, .nav_spacer_float
{
height:10%; 
display: block;
width: 100%;
}
.nav_spacer_float
{
float:left;

}
.page_html
{
 z-index: 0; 
 display: none;  
}
.nav_footer_strap
{
font-style: italic;
margin-bottom: 0.5em;
}
.page_html a, .page_html a:visited
{
 color: #FFFFFF;
 text-decoration: underline;   
}
.page_html a:hover, .page_html a:active
{
    color: #FFFFFF;
 text-decoration: none;  
}
.italics
{
 font-style: italic;   
}
.search
{
 position: fixed;
 left: 0;
 top: 50%;
 background-color: #000000;
}
.poi-description
{
 display: block;
 height: 100%;   
}
.search .searchform
{
 display: none;   
}
.portrait #tabgroup .disabled, .landscape #tabgroup .disabled
{
 display: none;   
}