/*global Styles*/
html,body 
{
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: #2c256b; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #2c256b 0%, #090a59 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2c256b), color-stop(100%,#090a59)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #2c256b 0%,#090a59 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #2c256b 0%,#090a59 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #2c256b 0%,#090a59 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #2c256b 0%,#090a59 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c256b', endColorstr='#090a59',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #FFFFFF;
}
.nav
{
    -webkit-border-radius: 0 0.5em 0 0;
    border-radius: 0 0.5em 0 0; 
    clear: both;
    background-color: #008991;
    width: 90%;
    padding-left:5%;
    overflow: hidden;
    height: auto;
    border: 0.2em #009ba8 solid;
    border-left: 0;
    border-bottom: 0;
}

.nav ul
{
    margin: 0;
    padding: 0;  
    overflow: hidden;
    display: block; 
        height: auto;
}
.nav ul li
{
    margin: 0;
    padding: 0;   
    float: left;
    display: block; 
    font-size: 1em;
    border: 1px solid #000000;
    text-align:center;
}
.nav ul li img
{
height:100%;
}
.nav ul li .label
{
 /*margin-bottom: 0.5em;*/   
}
.nav ul li .icon
{
 display: none;   
}
.landscape .nav ul li
{
        width:  19.5%;
}
.portrait .nav ul li
{
     width: 32.5%;
}
.landscape 
{
background-color: LightBlue;

}

.portrait
{
background-color: Coral;
}


/*Homepage*/
.header
{
 overflow: hidden;   
}
#nhs_logo
{
    float: right;
}
.landscape #nhs_logo
{
    width: 45%;
    padding-right: 5%;
}
.portrait #nhs_logo
{
    width: 60%;
    padding-right:5%;
}
#nhs_logo img
{
 width:100%;   
}
#strapline
{
    float: left;
    -webkit-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 0.5em 0.5em 0; 
    background-color: #bcbdd5;
    padding-left:5%;  
    background-color: #c4c4d8;
    border: 0.2em #7d789e solid;
    border-left: 0;
    font-size:1.5em;
    font-weight: bold;
}
.landscape #strapline
{
    width: 40%;
}
.portrait #strapline
{
    
  width: 90%; 
  margin: 0.5em 0; 
}
#nav_footer
{
 display:block;
 clear: both;
 float:left;   
}

/* content pages */
#tabgroup
{
    
    background-color: #c4c4d8;
    border: 0.2em #7d789e solid;
    width: 90%; 
    padding-left: 5%;
    position: fixed;
    bottom: 0;
    border-left: 0;
    border-bottom: 0;
}
.landscape #tabgroup
{
    right: 0;
height: 200px;
width: 20px;
 -webkit-border-radius:0.5em 0 0 0 ;
border-radius:0.5em 0 0 0; 
  
}
.portrait #tabgroup
{
     float: left;
     -webkit-border-radius: 0 0.5em 0 0;
     border-radius: 0 0.5em 0 0; 
}
.portrait #tabgroup div
{
    float:left;
    margin-right:2em;   
}
#nav_toggle
{
 position:relative;
 top:0;
 left: 0;
 right: 0;
 -webkit-border-radius: 0 0 0.5em 0;
    border-radius: 0 0 0.5em 0; 
    clear: both;
    background-color: #008991;
    width: 90%;
    padding-left:5%;  
    border: 0.2em #009ba8 solid;
    border-left: 0;
    border-top: 0;
}

.map_wrap
{
    border: 10px solid #FFFFFF;    
    margin: 20px;
    height: 300px;
}
.content_wrap
{
 padding-left:5%;
 padding-right: 5%;   
}